<html>
<head>
    <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
</head>
<body topmargin=0 leftmargin=0 >
<table border='1' cellspacing="0" cellpadding="0" >
    <thead>
    <tr>
        <th>序号</th>
        <th>学生</th>
        <th>班级</th>
        <th>课程</th>
        <th>教师</th>
        <th>教室</th>
        <th>预约时间</th>
        <th>状态</th>
        <th>请假备注</th>
        <th>签到情况</th>
        <th>签到时间</th>
    </tr>
    <thead>
    <tbody>
    #for(i=0;i<10;i++)
    <tr>
        <td>#(i)</td>
        <td>aaa</td>
        <td>bbb</td>
        <td>ccc</td>
        <td>ddd</td>
        <td>eee</td>
        <td>0</td>
        <td>fff</td>
        <td>iii</td>
        <td>jjj</td>
        <td>hhh</td>
    </tr>
    #end
</table>
</body>
</html>